<body class='pawn_main'>
  <div class='title'>
    お客様情報を選択してください
  </div>
  <div>
    <%= link_to new_customer_path do %>
      <div class='buttons pawn_button'>
        新規客
      </div>
    <% end %>
  </div>
  <div>
    <%= link_to '#' do %>
      <div class='buttons pawn_button'>
        リピーター
      </div>
    <% end %>
  </div>
  <div>
    <%= link_to root_path do %>
      <div class='buttons pawn_button'>
        トップへ戻る
      </div>
    <% end %>
  </div>
</body>