<div class='main'>
  <div class='top_message'>
    お客様情報を選択してください
  </div>
  <div class='new_customer'>
    <%= link_to '#' do %>
      <div class='buttons'>
        新規客
      </div>
    <% end %>
  </div>
  <div class='repeater_customer'>
    <%= link_to '#' do %>
      <div class='buttons'>
        リピーター
      </div>
    <% end %>
  </div>
</div>
