<div class='pawn_main'>
  <div class='title'>
    お客様情報を選択してください
  </div>
  <div class='pawn_button'>
    <%= link_to '#' do %>
      <div class='buttons'>
        新規客
      </div>
    <% end %>
  </div>
  <div class='pawn_button'>
    <%= link_to '#' do %>
      <div class='buttons'>
        リピーター
      </div>
    <% end %>
  </div>
</div>
