<body class='pawn_main'>
  <div class='title'>
    質情報を入力してください
  </div>
  <div class='new_pawn_btn'>
    <%= link_to root_path, data: { confirm: 'トップページに戻っていいですか?' } do %>
      <div class='buttons'>
        トップへ戻る
      </div>
    <% end %>
  </div>
</body>