<body class='return_top'>
  <div class='title'>質返還</div>
    <%= render partial: "shared/display-pawn" , collection: @pawns, as: "pawn" %>

    <div>
      上記の質取引を変換済に変更します。
    </div>
    <%= form_with model: @pawn, url: pawns_path(@pawn.id), local: true do |f| %>
      <% f.hidden_field :item_status, value: 1 %>
      <%= f.submit "変更" ,class:"register-btn", data: { confirm: '返還処理してしていいですか?' } %>
    <% end %>

  <%= render partial: "shared/back-button" , locals: { back_link: return_input_pawns_path } %>
</body>