.simple_text{
  text-align: center;
}

.interest_form{
  width: 250px;
  margin: 10px 0 20px calc(50vw - 125px);
}

.short_text_field{
  width: 20px;
}

.short-form-field{
  margin-top: 10px;
  padding-left: 40px;
}