.middle_message{
  text-align: center;
  font-size: 24px;
}

.search_result{
  color: white;
  margin: 30px 0px 0px calc(50vw - 200px);
  width: 400px;
}

.return_status{
  background-color: yellow;
  color: black;
}

.forfeit_status{
  background-color: white;
  color: black;
}