<body class='purchase_main'>
  <div class='title'>
    買取情報を登録しました
  </div>

  <%= render partial: "shared/display-purchase" , locals: { customer: @customer, purchase: @purchase } %>

  <%= render partial: "shared/toppage_button" %>
</body>
