<div class='main'>
  <div class='title-contents'>
    <h2 class='title'>
      PawnshopManager
    </h2>
  </div>
  <div class='first_line'>
    <div class='new_pawn_button'>
      入質
    </div>
    <div class='interest_button'>
      利息
    </div>
    <div class='purchase_button'>
      買取
    </div>
  </div>
  <div class='second_line'>
    <div class='pawn_return_button'>
      質返還
    </div>
    <div class='pawn_forfeite_button'>
      質流れ
    </div>
  </div>
  <div class='third_line'>
    <div class='gold_price_button'>
      金相場入力
    </div>
    <div class='data_search_button'>
      データ検索
    </div>
    <div class='setting_change_button'>
      設定変更
    </div>
  </div>
</div>