<div class='pawn_main'>
  <div class='title'>
    お客様情報を登録してください
  </div>

  <%= render partial: "shared/customer-form" , locals: { customer: @customer } %>

  <div class='button_lines'>
    <div class='new_customer_btn'>
      <%= link_to pawns_path do %>
        <div class='buttons'>
          前のページへ戻る
        </div>
      <% end %>
    </div>
    <div class='new_customer_btn'>
      <%= link_to root_path do %>
        <div class='buttons'>
          トップへ戻る
        </div>
      <% end %>
    </div>
  </div>
</div>
