<body class='pawn_main'>
  <div class='title'>検索結果</div>

  <%= render partial: "shared/search-result-customer", collection: @customer, as: "customer_record" %>

  <%= render partial: "shared/back-button" , locals: { back_link: input_customers_path } %>

</body>