<% if params[:format] == "pawn" %>
  <body class='pawn_main'>
    <div class='title'>検索結果</div>

    <%= render partial: "shared/search-result-customer", collection: @customer, as: "customer_record" %>

<% elsif params[:format] == "purchase" %>
  <body class='purchase_main'>
    <div class='title'>検索結果</div>

    <%= render partial: "shared/search-result-customer", collection: @customer, as: "customer_record" %>

<% end %>

  <%= render partial: "shared/back-button" , locals: { back_link: input_customers_path } %>

</body>