<body class='interest_main'>
  <div class='title'>
    利息情報を登録しました
  </div>

  <%= render partial: "shared/display-interest" , locals: { customer: @customer, pawn: @pawn } %>

  <%= render partial: "shared/toppage_button" %>
</body>
