.form_layout{
  margin: 30px 0px 0px 40vw;
  font-size: 20px;
}

.form_layput_lines{
  display: flex;
  justify-content: left;
  margin: 20px 0px;
}

.form_name_part{
  width: 40px;
}

.kanji_last_name{
  margin-left: 100px;
}

.kana_last_name{
  margin-left: 60px;
}

.job_part{
  margin-left: 20px;
}